.Oilcontainer{
    display: flex;
    overflow: hidden;
    height: 200px;
    position: relative;
}

.Level-height{
    position: absolute;
    align-self: center;
    margin-bottom: 20px;
    bottom: 0;
    width: 90%;
    background-color: #f6943b;
    transition: height 0.5s ease-in-out;
}

.Level-alert{
    align-self: center;
}